# Coding Practice

In [43]:
print("Hello World!!!")
print("John Matthew Fortes")
print("Advanced Computer Pogramming")
print("Coding Practice")

Hello World!!!
John Matthew Fortes
Advanced Computer Pogramming
Coding Practice

In [44]:
a = "Hello World!!!"
b = "John Matthew Fortes"
c = "Advanced Computer Programming"
d = "Coding Practice"

print(a , b , c , d) #printing multiple string

Hello World!!! John Matthew Fortes Advanced Computer Programming Coding Practice

In [45]:
print(type(a)) #printing the datatype used in variable a

<class 'str'>

In [46]:
print(type(b))

<class 'str'>

In [47]:
print(26 + 4) #printing mathematical equations

30

In [48]:
print(81 / 9)

9.0

In [49]:
i = 50
j = 20

if i > j: #if statement 
    print("i" , i , "is greater than" , j , "j")
print(type(i)) #printing datatype used

i 50 is greater than 20 j
<class 'int'>

In [50]:
i = 50
j = 20

if i < j: #if statement 
    print("i" , i , "is less than" , j , "j")
elif i == j: #else if statement
    print("i" , i , "is equal to" , j , "j")
else:
    print("i" , i , "is greater than" , j , "j")

i 50 is greater than 20 j

In [51]:
i = 50
j = 50

if i < j: #if statement 
    print("i" , i , "is less than" , j , "j")
elif i == j: #else if statement
    print("i" , i , "is equal to" , j , "j")
else: #else
    print("i" , i , "is greater than" , j , "j")

i 50 is equal to 50 j

In [52]:
i = 50
j = 20

if i > 20:
    print(True)

True

# Functions

In [53]:
def myFunction(fname):
  print(fname + " Qwerty")

myFunction("John")
myFunction("Ann")
myFunction("Dan")

John Qwerty
Ann Qwerty
Dan Qwerty

In [54]:
def myFunction(fname,lastname): # Two (2) arguments expects two (2) arguments
    print(fname + " " + lastname)
myFunction("Dan" , "Qwerty") # correct number of arguments not more not less

Dan Qwerty

In [55]:
def myFunction(Fname,Mname,Lname): # Three (3) arguments 
    print(Fname + " " + Mname + " " + Lname )
myFunction("John" , "Middle" , "Qwerty")

John Middle Qwerty

# *args

In [16]:
def myFunction(*child): # add Asterisk(*) before parameter name for unkown number of arguments to be used in the funtion
    print("The youngest child is " + child[2]) # recieves a tuple of arguments
    print("The oldest child is " + child[0])
    print("The middle child is " + child[1])
myFunction("John" , "Ann" , "Dan")

The youngest child is Dan
The oldest child is John
The middle child is Ann

In [2]:
def myFunction(*breed):
    print("The the dog's breed is " + breed[0])
    print("The cat's breed is " + breed[1])
myFunction("Golden Retriever" , "Bengal" , "Red Factor Canary" , "Koi")

The the dog's breed is Golden Retriever
The cat's breed is Bengal

# Keyword arguments

In [13]:
def myFunction(child1, child2, child3):
    print("The youngest child is " + child3)
    print("The oldest child is " + child1)
    print("The middle child is " + child2)
myFunction(child1 = "John" , child2 = "Ann" , child3 = "Dan")

The youngest child is Dan
The oldest child is John
The middle child is Ann

In [15]:
def myFunction(color1, color2, color3):
    print("The hex code for red is " + color1)
    print("The hex code for white is " + color2)
    print("The hex code for black is " + color3)
myFunction(color1 = "#ff0000" , color2 = "#FFFFFF", color3 = "#000000")

The hex code for red is #ff0000
The hex code for white is #FFFFFF
The hex code for black is #000000

   # **kwargs

In [2]:
def myFunction(**child): # Double asterisk(**) Unkown keywoard arguments that will be passed into the function 
    print("The child's last name is " + child["Lname"])
myFunction(Fname = "John" , Lname = "Qwerty")

The child's last name is Qwerty

In [20]:
def myFunction(**car):
    print("The car's model is " + car["model"] + "unit number " + car["mNumber"])
myFunction(model = "Toyota" + ", " , mNumber = "0123" + ".")

The car's model is Toyota, unit number 0123.

# List as an argument

In [29]:
def myFunction(phone):
    for x in phone: # for in loop to loop through the elements
        print (x)
phone = ["Samsung","iPhone","Huawei","Lenovo"]
myFunction(phone)
x = len(phone)
print(x)

Samsung
iPhone
Huawei
Lenovo
4

# Arrays

In [30]:
phone.append("RealMe") #adding element
myFunction(phone)

Samsung
iPhone
Huawei
Lenovo
RealMe

In [31]:
x = len(phone)#length
print(x)

5

In [32]:
phone.pop(3)#removing an element
myFunction(phone)

Samsung
iPhone
Huawei
RealMe

In [33]:
x = len(phone)
print(x)

4

# Class

In [38]:
class Person:
    def __init__(self, name, age, address, zcode, country): #__init__ function every time the class creates a new objects
        self.name = name
        self.age = age
        self.address = address
        self.zcode = zcode
        self.country = country
p1 = Person("John", 20, "Batangas City", 4200, "Philippines")
print("Name: " + p1.name)
print("Age: " , p1.age)
print("Address: " + p1.address)
print("Zip Code: " , p1.zcode)
print("Country: " + p1.country)

Name: John
Age:  20
Address: Batangas City
Zip Code:  4200
Country: Philippines

In [40]:
class Person:
    def __init__(mine, name, age, address, zcode, country): # originally self changed to mine
        mine.name = name # self can named anything you like as long as it needs to be the first parameter of any function of the class
        mine.age = age
        mine.address = address
        mine.zcode = zcode
        mine.country = country
p1 = Person("John", 20, "Batangas City", 4200, "Philippines")
print("Name: " + p1.name)
print("Age: " , p1.age)
print("Address: " + p1.address)
print("Zip Code: " , p1.zcode)
print("Country: " + p1.country)

Name: John
Age:  20
Address: Batangas City
Zip Code:  4200
Country: Philippines

In [42]:
p1.name = "Ben"
p1.age = 25
print("Name: " + p1.name)
print("Age: " , p1.age)
print("Address: " + p1.address)
print("Zip Code: " , p1.zcode)
print("Country: " + p1.country)

Name: Ben
Age:  25
Address: Batangas City
Zip Code:  4200
Country: Philippines

# Inheritance

In [2]:
class Person:
    def __init__(self, Fname, Mname, Lname):
        self.firstname = Fname
        self.middlename = Mname
        self.lastname = Lname
        
    def printname(self):
        print(self.firstname, self.middlename, self.lastname)
x = Person("John", "M.", "Last")
x.printname()

John M. Last

In [17]:
class layer:
    def __init__(self, first, second, third):
        self.one = first
        self.two = second
        self.three = third
    
    def layerEarth(self):
        print(self.one)
        print(self.two)
        print(self.three)
x = layer("Crust", "Mantle", "Core")
x.layerEarth()

Crust
Mantle
Core

In [19]:
class SubCrust:
    def __init__(self, first, second, third):
        layer.__init__(self, first, second, third)
    
    def subC(self):
        print(self.one)
        print(self.two, "," , self.three)
y = SubCrust("Crust", "Continental Crust", "Oceanic Crust")
y.subC()

Crust
Continental Crust , Oceanic Crust

# super()

In [26]:
class SubCrust(layer):#Subcrust() - child class of layer
        def __inti__(self, first, second, third):
            super().__intit__(self, first, second, third)# super() function inherits all of the parent's method and properties
z = SubCrust("Crust", "Continental Crust", "Oceanic Crust")
z.layerEarth()

Crust
Continental Crust
Oceanic Crust

In [27]:
class Mantle(layer):
    def __intit__(self, first, second, third):
        super().__intit__(self, first, second, third)
yy = Mantle("Mantle", "Upper Mantle", "Lower Mantle")
yy.layerEarth()

Mantle
Upper Mantle
Lower Mantle

In [28]:
class Core(layer):
    def __intit__(self, first, second, third):
            super().__intit__(self, first, second, third)
zz = Core("Core", "Outer Core", "Inner Core")
zz.layerEarth()

Core
Outer Core
Inner Core